/*
    Color constants begin
*/
@COLORS_MAIN_BACKGROUND: black;
@COLORS_MAIN_TEXT: white;
/*
    Color constants end
*/

body {
    margin: 0;
    padding: 0;
    font-family: "Arial", Helvetica, serif;
}

.workSpace {
    width: 100%;
    height: 100vh;
}