/*ModalWindow color constants begin*/
@COLORS_CLOSE_BTN_BG: red;
@COLORS_CLOSE_BTN_BG_HOVER: darkred;
@COLORS_OVERLAY_BG: black;
@COLORS_MODAL_WINDOW_BG: white;
@COLORS_OVERLAY_BG: black;
/*ModalWindow color constants end*/

/*controls styles begin*/
.full-screen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.control {
    /*ModalWindow begin*/
    &.global-overlay {
        .full-screen;
        display: none;
        z-index: 1;

        .transparent-bg {
            .full-screen;
            background-color: @COLORS_OVERLAY_BG;
            opacity: 0.7;
        }

        .content-wrapper {
            opacity: 0;
            padding: 20px;
            background-color: @COLORS_MODAL_WINDOW_BG;
            position: absolute;

            .title-block {
                font-size: 18px;
                text-align: center;
                font-weight: bold;
            }

            .close-btn {
                display: block;
                position: absolute;
                top: -20px;
                right: -20px;
                width: 20px;
                height: 20px;
                background-color: @COLORS_CLOSE_BTN_BG;
                cursor: pointer;

                &:hover {
                    background-color: @COLORS_CLOSE_BTN_BG_HOVER;
                }
            }
        }
    }
    /*ModalWindow end*/

    /*LinedPaper begin*/
    &.grid {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: linear-gradient(-90deg, rgba(0,0,0,.05) 1px, transparent 1px), linear-gradient(rgba(0,0,0,.05) 1px, transparent 1px), linear-gradient(-90deg, rgba(0, 0, 0, .04) 1px, transparent 1px), linear-gradient(rgba(0,0,0,.04) 1px, transparent 1px), linear-gradient(transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px), linear-gradient(-90deg, #aaa 1px, transparent 1px), linear-gradient(-90deg, transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px), linear-gradient(#aaa 1px, transparent 1px), #f2f2f2;
        background-size: 4px 4px, 4px 4px, 80px 80px, 80px 80px, 80px 80px, 80px 80px, 80px 80px, 80px 80px;
    }
    /*LinedPaper end*/

    /*Switcher begin*/
    &.switcher-container {
        display: inline-block;
        border: 1px solid black;
        margin: 10px;
        padding: 10px;

        .list-node {
            display: inline-block;
            position: relative;
            margin: 1px;
            width: 20px;
            height: 20px;
            border: 1px solid black;
            background-color: white;

            &.selected, &:hover {
                background-color: black;

                .tooltip {
                    display: block;
                }
            }

            .tooltip {
                display: block;
                position: absolute;
                top: -25px;
                left: -37px;
                width: 100px;
                background-color: lightsteelblue;
                text-align: center;
                display: none;
            }
        }
    }
    /*Switcher end*/
}


