doctype html
html
  head
    title= title
    script(src='/javascripts/jquery-3.2.1.js')
    script(src='/javascripts/Ingram_client_API.js')
  body
    span(style='cursor: pointer;' id='TestIngramAPI') Test Ingram API