doctype html
html
  head
    title= title
    script(src='/javascripts/jquery-3.2.1.js')
    script(src='/javascripts/controls.js')
    script(src='/javascripts/client_app.js')
    link(rel='stylesheet', href='/stylesheets/common.min.css')
    link(rel='stylesheet', href='/stylesheets/controls.min.css')
  body
    block content